body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: {{text-color}};
    padding: 0 10px;
    font-family: sans-serif
}

h1,h2,h3 {
    line-height: 1.2;
    font-variant: small-caps
}

.icon {
    height: 1em
}

a {
    color: {{url-color}};
    font-family: monospace;
    text-decoration: none
}

ul {
    list-style-type:none;
    padding-left: 1em;
}
